html,body{
    padding: 0 0 65px;
    margin: 0;
}

h1{
	margin-top: 20px;
	text-align: center;
	color:#FFF;
	font-family: initial;
	font-size: 70px;
}
h2{
	text-align: center;
	font-family: italic;
	color: #FFF;
}

h3{
	margin-top: 20px;
	text-align: center;
	color:#FFF;
	font-family: initial;
	font-size: 30px;
}

hr{
	margin-left:-40px;
	background-color: grey;
	height: 1px;
}

.categories>*>li {
	margin-left: -35px; 
	list-style-type: none;
	text-align: center;
}

#background{
	background: url("../images/background.jpg") no-repeat center center;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	overflow-x: hidden;
	}

#backgroundContent{
	background: url("../images/backgroundcontent.jpg") no-repeat center center;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
	overflow-x: hidden;
	}

#enter{
	margin-top: 15%;
	padding: 15px;
	font-size: 15px;
	font-weight: bold;
	background-color: inherit;
	border-width: 2px;
	border-color: #FFF;
}

#enter:hover{
	border-color: grey;
	color: grey;
	transition: inherit;
	transition-duration: 0.6s;
}

#desc{
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 20px;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 70px;
	color:#FFF;
	font-size: bold;
}

#who, #content{
	display: block;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 20px;
	margin-top: 70px;
	color:#FFF;
	font-size: bold;
}

#menuTitle{
	margin-bottom: -40px;
}

#calculator{
	background-color: rgba(0, 0, 0, 0.5);;
	border-radius: 20px;
	padding: 10px; 
	width: 20%;
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 100px;
	position: absolute;
	color: #FFF;
	z-index: 20;	
}

#restart{
	margin-right: 33%;
	margin-left: 33%;
	padding: 1px;
	margin-bottom: 5%;
}

#restart:hover{
	border-color: #464646;
	cursor: pointer;
}

#calculator>h2{
	text-decoration: underline;
}

#calcUlist>li{
	margin-bottom: 10px;
	list-style-type: none;
}

#calcUlist>li>input{
	width: 80%;
	border-radius: 20px;
}

.bgHead{
	background-image: url("../images/backgroundcontent.jpg");
	background-size: cover;
	position: relative;
	overflow-x: hidden;
	height: 70px;
	margin-bottom: 20px;
}

#booking{
	width: 20%;
	margin-top: 5%;
	margin-right: 40%;
	margin-left: 40%;
}

#linkedin{
	background-image: url("../images/li.png");
}

#facebook{
	background-image: url("../images/fb.png");
}

#twitter{
	background-image: url("../images/tw.png");
}

.headButton{
	position: relative;
	margin-top: 20px;
	height: 30px;
	width: 30px;
	border-radius: 2px;
	margin-right: 5px;
}

.nav-link:hover{
	text-decoration: underline;
}

.photo{
	background-size: cover;
	position: relative;
	overflow-x: hidden;
	background-position: 50% 50%;
	border-radius: 20px;
	margin-top: 40px;
}

#photo1{
	background-image: url("../images/giovanni.jpg");
}

#photo2{
	background-image: url("../images/gave.jpg");
}

#photo3{
	background-image: url("../images/chef.jpg");
}

.form-style{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;	
}

footer{
	text-align:center;
	font-size: 16px;
	background-color: #000;
	color:#FFF;
    width: 100%;
    margin-bottom: -15px;
    bottom: 0;
    position:fixed;
    z-index: 823452374574;
}
 
